<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZU8x_O6GInu3MGgIvsOc5YHVrMC04tkk</string>
	<key>GCM_SENDER_ID</key>
	<string>140254491068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seokho.projk</string>
	<key>PROJECT_ID</key>
	<string>footsal-51dea</string>
	<key>STORAGE_BUCKET</key>
	<string>footsal-51dea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140254491068:ios:ef8bc1f7f82c4fffc2bbb9</string>
</dict>
</plist>